body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/img_tree.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  overflow: hidden;
  background-color: antiquewhite;
}

#root {
  width: 70%;
}

@media (min-width: 601px) {
  #root {
    width: 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
